@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.head {
  font-family: 'Pacifico', cursive;
}

.font-link {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginpage {
  display: flex;
  height: 90%;
  width: 90%;
}

.loginpage div h1 {
  margin: 4%;
}

.loginpage h5 {
  text-indent: 5%;
}

.loginpage div {
  flex: 1;

}



body {
  font-family: 'Poppins';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}